<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Font-->
	<link rel="stylesheet" type="text/css" href="/Signup/css/roboto-font.css">
	<link rel="stylesheet" type="text/css" href="fonts/line-awesome/css/line-awesome.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/yoga.css">
    <title>RojaYoga</title>
  </head>
  <body>
    
      <!--Menuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu-->
  <div id="rc_logo" class="logo">
    <a href="index.html" title="Logo" >Be-YOGI</a>
  
  </div>

  <div class="rc_nav" id="centered_nav">
    <a href="https://en.wikipedia.org/wiki/Asana" title="About">Asanas</a>
    <a href="https://en.wikipedia.org/wiki/Pranayama" target="_blank" title="About">Pranayama</a>
    <a href="#Gallery" title="video gallery">Video Gallery</a>
    <a href="#contact" title="Contact">Contact</a>
    <a href="login.html" target="_blank" title="SignUp">Sign Up</a>
    <a href="javascript:void(0);" title="Menu" style="font-size:30px;" class="icon" onclick="myFunction()">&#9776;</a>
  </div>


  <script>
    function myFunction() {
      var x = document.getElementById("centered_nav");
      if (x.className === "rc_nav") {
        x.className += " responsive";
      } else {
        x.className = "rc_nav";
      }
    }

  </script>

<!-- Sliderrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr-->
<div class="px-wide">
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../static/img/budha1.jpg" class="d-block w-100 item" alt="...">
      
      <div class="carousel-caption d-none d-md-block">
        <h5>YOGANANDA</h5>
        <p>Live quietly in the moment and see the beauty of life.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../static/img/pose1.jpg" class="d-block w-100 item" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>VIVIKANANDA</h5>
        <p>You have to grow from the inside out. None can teach you,
          none can make you spiritual.There is no other teacher but your own soul.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../static/img/things4.jpg" class="d-block w-100 item" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>VIVIKANANDA</h5>
        <p>In a day, when you don't come across any problems - you can be sure that you are travelling in a wrong path</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>


   <!--Bodyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy-->

  <div class="container1" id="callme">
  <div class="col4">
     <div class="imgbody">
       <img src="../static/img/pose4.jpg"  >
      </div>
      <div class="bodytext">
      <h2><a href="https://en.wikipedia.org/wiki/Janusirsasana" target="_blank">Janu Sirsasana</a> </h2>
      <p>Each asanas have a benefits, "JANU SIRSASANA" is one of the poses which make your body flexible and also your mind.
         it also Calms the brain and helps relieve mild depression and Stimulates the liver and kidneys. </p>
    </div>
  </div>
  <div class="col4">
    <div class="imgbody">
      <img src="../static/img/pose6.jpg" >
     </div>
     <div class="bodytext">
     <h2><a href="https://en.wikipedia.org/wiki/Acroyoga" target="_blank">Couple Yoga</a></h2>
     <p>Traditionally, yoga is an individual practice. It’s an opportunity to stretch, breathe, and focus on your mat in the present moment. 
       However, jointly practicing yoga with another person, whether that be a friend,
        partner, or significant other, can have its own unique benefits.</p>
   </div>
 </div>
 <div class="col4">
  <div class="imgbody">
    <img src="../static/img/pose8.jpg"  >
   </div>
   <div class="bodytext">
   <h2><a href="https://en.wikipedia.org/wiki/Chakrasana" target="_blank">Bridge-Wheel</a></h2>
   <p>Perform Urdhva Dhanurasana. Shift your weight onto the left foot and, with an exhalation, 
     bend your right knee and draw it into your torso. Then inhale and extend the right leg at about a 45 degree angle relative to the floor. 
     Hold for 5 to 10 seconds, exhale,bend the knee and return the foot to the floor. Repeat with the left leg for the same length of time.</p>
 </div>
</div>
  </div>
<div class="container1" >
  <div class="col4">
     <div class="imgbody">
       <img src="../static/img/pose3.jpg"  >
      </div>
      <div class="bodytext">
      <h2><a href="https://en.wikipedia.org/wiki/Meditation" target="_blank">Meditation</a></h2>
      <p>Before embarking on important undertakings sit quietly calm your senses and thoughts and meditate deeply. 
        You will then be guided by the great creative power of Spirit.Meditation is an ancient wellness practice that focuses on training awareness, attention, and compassion.
        In recent years, research has found that meditation can reduce stress and anxiety, improve focus and concentration, and increase feelings of calm and relaxation. </p>
    </div>
  </div>
  <div class="col4">
    <div class="imgbody">
      <img src="../static/img/pose5.jpg"  >
     </div>
     <div class="bodytext">
     <h2><a href="https://en.wikipedia.org/wiki/Shirshasana" target="_blank">Headstand</a></h2>
     <p>The headstand is an inversion that exhibits strength, control and beauty in overcoming the fear of falling through physical and mental balance.
      This pose is performed by resting the head and forearms in a triangular formation on the mat. 
      Once they have formed a strong base, the legs move in toward the torso so the weight begins to shift onto that base. The legs are then lifted, supported by a strong core. 
      The torso should be perpendicular to the mat so that the body is in a straight line from the legs to the head.</p>
   </div>
 </div>
 <div class="col4">
  <div class="imgbody">
    <img src="../static/img/pose7.jpg"  >
   </div>
   <div class="bodytext">
   <h2><a href="https://en.wikipedia.org/wiki/Trikonasana" target="_blank">Triangle</a></h2>
   <p>Triangle Pose (Utthita Trikonasana) is a foundation yoga pose across almost every different style of yoga. 
     You will almost certainly encounter it within your first few yoga classes and for years to come. Its relatively simple set-up belies its power as a stretch for the hamstrings. 
     Establishing the foundation of the pose with grounded feet and strong legs allows the chest to twist deeply and blossom open.</p>
 </div>
</div>
</div>


<!--Videoooooooooooooooooooooo-->

<div class="content">
  <h1 class="section-header"><a href="#" id="Gallery">Video Gallery</a> </h1>
  <div class="section-header-underline"></div>
  <div class="video-gallery">

    <div class="gallery-item ">
      <img src="../static/img/pose9.jpg" alt="yoga poses" />
      <div class="gallery-item-caption">
        <div>
          <h2>Hatha-Yoga</h2>
          
        </div>
        <iframe src="https://www.youtube.com/embed/GWg-siH2VEA" width="853" height="480" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="gallery-item ">
      <img src="../static/img/pose10.jpg" alt="yoga poses" />
      <div class="gallery-item-caption">
        <div>
          <h2>Suryanamaskar</h2>
          
        </div>
        <iframe src="https://www.youtube.com/embed/L4Z7lix6Qao" width="853" height="480" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
     

  </div>
</div>

<script>
  ("#general-trailer").click(function() {

$.fancybox.open({
  src  : '#trailer',
  type : 'inline',
  opts : {
    margin     : 0,
    smallBtn   : true,
    fullScreen : false,
    toolbar    : false,
    afterShow  : function() {
      $('#trailer-video').get(0).play();
    },
    afterClose : function() {
      $('#trailer-video').get(0).pause();
    }
  }
});

});
</script>




<!--Footeeeeeeeeeeeeeeeeeeeeeeeeeeerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr-->
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

  <div style="background-color: #6351ce;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social Media!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <div>
            <ul class="social-network social-circle">
              <li><a href="https://www.instagram.com/rojayoga/" target="_blank" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://www.facebook.com/Roja-Yoga-542851132886888/?modal=admin_todo_tour" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Be-Yogi</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>The important rules is being calm to enjoy your life.
          Breath deeply each moment to becom calm and relief all stress. The people win this life who enjoy each moment of it!
          Lets put our hand together and fly to enjoyable life.
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Courses</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#callme">Asanas</a>
        </p>
        <p>
          <a href="#!">Meditation</a>
        </p>
        <p>
          <a href="#!">Pranayama</a>
        </p>
        <p>
          <a href="#!">Karma Yoga</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Your Account</a>
        </p>
        <p>
          <a href="#!">Become our Teacher</a>
        </p>
        
        <p>
          <a href="#!">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" id="contact">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p><i class="fas fa-home mr-3"></i> France, 69000</p>
        <p><i class="fas fa-phone mr-3"></i> + 033-766-71-77-55</p>
      </div>

    </div>


  </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> Be-Yogi</a>
  </div>
  <!-- Copyright -->

</footer>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  



  </body>
</html>